

<h1>Books List</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>

    <td>
      <% if can? :update, book%>
      <%= link_to "Edit" ,  edit_book_path(book) %>
      <% end %>
    </td>

    <td>
      <% if can? :destory, book%>
      <%= link_to "Destroy" ,  method: :delete,
      data:{ confirm: "are you sure to delete this book? "} %>
      <% end %>
    </td>
    <p>
      <%= link_to "View book", book %>
    </p>
  <% end %>
</div>
<% if can? :create, Book %>
<%= link_to "New book", new_book_path %>
<%end%>